@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">





            <div id="this-carousel-id" class="carousel slide hidden-xs">
                <!-- class of slide for animation -->
                <ol class="carousel-indicators">
                    <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
                    <li data-target="#this-carousel-id" data-slide-to="1"></li>
                    <li data-target="#this-carousel-id" data-slide-to="2"></li>
                    <li data-target="#this-carousel-id" data-slide-to="3"></li>

                </ol>
                <div class="carousel-inner">
                    <div class="item active" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/slika5.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />
                        <!-- class of active since it's the first item-->
                        <div class="carousel-caption">
                            <h2><span style="color:dodgerblue">MediLab</span> <span style="color:whitesmoke"> Provides Complete Healthcare.</span> </h2>
                        </div>
                    </div>
                    <div class="item" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/slika1.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />

                    </div>
                    <div class="item" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/slika3.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />

                    </div>
                    <div class="item" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/slika4.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />

                    </div>
                </div><!-- /.carousel-inner -->
                <!--  Next and Previous controls below
                href values must reference the id for this carousel -->
                <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"></a>
                <a class="carousel-control right" href="#this-carousel-id" data-slide="next"></a>

            </div><!-- /.carousel -->


        </div>
    </div>

    <br />
    <br />
 
    <div style="position:center">
        <h2 class="text-center">MEDICAL SERVICES</h2>
        <img class="img-responsive " src="~/Images/0.png" style="display:block; margin-left:auto;margin-right:auto">
        <p class="text-center" style="color:lightslategray">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
            Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem.
        </p>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3">

            <img class="img-responsive " src="~/Images/111.png" style="display:block; margin-left:auto;margin-right:auto; width:84px; height:77px">

            <h3 class="text-center">Emergency care</h3>            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.
            </p>
        </div>
        <div class="col-sm-3">
                <img class="img-responsive" src="~/Images/1111.png" style="display:block; margin-left:auto;margin-right:auto;width:84px; height:77px">
               
                <h3 class="text-center">Professional doctors</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.
                </p>

            </div>
        <div class="col-sm-3">
            <img class="img-responsive " src="~/Images/123.png" style="display:block; margin-left:auto;margin-right:auto;width:84px; height:77px">

            <h3 class="text-center">Special care unit</h3>                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.
            </p>
        </div>
        <div class="col-sm-3">

            <img class="img-responsive " src="~/Images/1234.png" style="display:block; margin-left:auto;margin-right:auto;width:84px; height:77px">

            <h3 class="text-center">24 Hours service</h3>                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.
            </p>
        </div>
        </div>
    <br />
    <br />





</div>